.catalog_table {
    height: 100%;
    justify-content: space-between;
    /* background-color: chartreuse; */
    border-collapse:collapse;
    /* border: 3px dashed orange; */
    /* border-color: aqua; */
    /* border-style: dotted; */
    flex-grow: 1;
}

.catalog_table td {
    /* border-collapse:collapse; */
    border: 1px dotted orange;
    padding: 0px 10px;
}

.catalog_table .td_mixtures {
    width: 26px;
    padding: 0px;
    /* background-color: gold; */
}

.img_mixtures > img {
    width: 24px;
    height: 24px;
    /* background-color: blueviolet; */
}
