{% extends 'herbalist/base.html' %}
{% load i18n %}
{% block substyle %}
{% load static %}
<link rel="stylesheet" href="{% static 'herbalist/css/registration.css' %}">
<!-- <link rel="stylesheet" href="{% static 'herbalist/css/index.css' %}"> -->
{% endblock %}
{% block select_language %}
{% include 'herbalist/select_language.html' with id=lng.id lang=lng.language url_text=lng.url url_params=lng.params %}
{% endblock %}
{% block content %}
<div class="content_back">
    <div class="div_profile_header">
        <a href="{% url 'edit_profile' %}"><img src="{% static 'herbalist/images/return-yellow-2.png' %}" alt="" class="return_image"></a>
        <h1 class="profile_header">{% trans "Change Your Password" %}</h1>
    </div>
    <form method="post" class="form-data">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Отображение полей формы для смены пароля -->
        <button type="submit" class="submit_button">{% trans "Change Password" %}</button>
    </form>

    <p><a href="{% url 'profile' %}">{% trans "Back to Profile" %}</a></p>  <!-- Ссылка обратно на профиль пользователя -->
</div>
{% endblock %}
