{% extends 'herbalist/base.html' %}
{% load i18n %}
{% block substyle %}
{% load static %}
<link rel="stylesheet" href="{% static 'herbalist/css/frame_background.css' %}">
<link rel="stylesheet" href="{% static 'herbalist/css/buttons.css' %}">
<link rel="stylesheet" href="{% static 'herbalist/css/plant_detail.css' %}">
<link rel="stylesheet" href="{% static 'herbalist/css/index.css' %}">
{% endblock %}
{% block select_language %}
{% include 'herbalist/select_language.html' with id=lng.id lang=lng.language url_text=lng.url url_params=lng.params %}
{% endblock %}
{% block content %}
<div class="content_back">
    <div class="detail_content">
        <div id="welcome">
            <h1>{% trans "Welcome to the Herbalist database!" %}</h1>
            <div id="description">
                {% trans "Here is a collection of about 8,000 medicinal plants grouped by chemical compounds and their biological activity." %}
            </div>
        </div>
        <div class="img_block">
            <img src="{% static 'herbalist/images/Leshy-512.jpg' %}" alt="" id="detail_img">
        </div>
    </div>
    <div id="user_block">
        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}" class="submit_button">{{ user.username }}</a>
        {% else %}
        <a href="{% url 'login' %}" class="submit_button">{% trans "Sign up" %}</a>
        {% endif %}
    </div>
</div>
{% endblock %}